<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>带参数二维码</title>
</head>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script> 
<script type="text/javascript">
function getQR() {
	$.ajax({
		method : 'GET',
    	url : 'http://localhost:18192/wx/QR',
    	success : function (data) {
            console.log(data);
            var src = "https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket="+data;
            $("img").attr("src",src)
        },
        error: function(err) {
            console.log(err);
        }
});
}
</script>
<body>
	<p th:text="${welcome}">welcome to thymeleaf...</p>
<!-- 	<tr th:each="prod:${prods}">
		<td th:text="${prod.name}"></td>
		<td th:text="${prod.price}"></td>
		<td th:text="${prod.inStock}"></td>
	</tr> -->
	<button th:onclick="'javascript:getQR()'">生成二维码</button>
	<img src="" alt="" />
</body>
</html>